<html lang="ko" layout:decorate="~{global/layout}">
<head>
    <title>Medium</title>
</head>
<body>
<div layout:fragment="content" class="flex items-center justify-center h-screen mx-4">
    <div class="form-control mx-auto w-96">
        <h1 class="text-5xl font-bold text-center mb-10 text-yellow-500">We, Medium</h1>
        <form th:action="@{/member/join}" th:object="${memberJoinRequestDto}" method="post">
            <!-- error -->
            <div th:if="${#fields.hasAnyErrors()}">
                <div class="toast toast-top toast-end mt-20">
                    <div th:each="error : ${#fields.allErrors()}" class="alert alert-error mb-1">
                        <span th:text="${error}"></span>
                    </div>
                </div>
            </div>
            <div class="form-control mx-auto m-6">
                <label class="label">
                    <span class="label-text">사용자 ID</span>
                    <span class="label-text-alt">길이 : 8 ~ 20자</span>
                </label>
                <input type="text" th:field="*{username}" placeholder="사용자 ID를 입력해주세요."
                       class="form-input w-full p-4"/>
            </div>
            <div class="form-control mx-auto m-6">
                <label class="label">
                    <span class="label-text">사용자 이름</span>
                    <span class="label-text-alt">길이 : 20자 이하</span>
                </label>
                <input type="text" th:field="*{nickname}" placeholder="사용자 이름을 입력해주세요."
                       class="form-input w-full p-4"/>
            </div>
            <div class="form-control mx-auto m-6">
                <label class="label">
                    <span class="label-text">비밀번호</span>
                    <span class="label-text-alt">길이 : 8 ~ 20자</span>
                </label>
                <input type="password" th:field="*{password}" placeholder="비밀번호를 입력해주세요."
                       class="form-input w-full p-4"/>
            </div>
            <div class="form-control mx-auto m-6">
                <label class="label">
                    <span class="label-text">비밀번호 확인</span>
                    <span class="label-text-alt">길이 : 8 ~ 20자</span>
                </label>
                <input type="password" th:field="*{passwordConfirm}" placeholder="비밀번호를 한번 더 입력해주세요."
                       class="form-input w-full p-4"/>
            </div>
            <label class="label">
                <span class="label-text">&nbsp;</span>
                <span class="label-text-alt">이미 medium에 가입하셨나요?</span>
            </label>
            <div class="flex mb-2">
                <input type="submit" value="회원가입" class="flex-1 btn btn-primary mr-1">
                <a href="/member/login"
                   class="flex-1 btn btn-success">
                    로그인
                </a>
            </div>
            <div class="justify-center text-center">
                <span class="label-text-alt">간편 회원가입</span>
                <a href="/oauth2/authorization/kakao" class="mt-2 flex btn btn-warning w-full">
                    <i class="fa-solid fa-comment"></i>카카오톡으로 회원가입
                </a>
            </div>
        </form>
    </div>
</div>
<th:block layout:fragment="script"></th:block>
</body>
</html>