<!DOCTYPE html>
<html lang="ko" layout:decorate="~{global/layout}">

<head>
    <title>Medium</title>
</head>
<body>
<div layout:fragment="content" class="flex items-center justify-center h-screen mx-4">
    <!-- message -->
    <div th:unless="${msg == null}"
         class="toast toast-top toast-end mt-24">
        <div class="alert alert-success">
            <span th:text="${msg}"></span>
        </div>
    </div>
    <div class="card w-100 shadow-xl">
        <figure>
            <div class="w-96 h-40 flex justify-center">
                <div class="w-40 h-40 rounded-full bg-blue-500 flex items-center justify-center">
                    <div th:text="${currentUser.nickname}"
                         class="text-3xl text-white text-center">
                    </div>
                </div>
            </div>
        </figure>

        <div class="divider">유저 정보</div>
        <div class="card-body">
            <form action="/member/mypage/modify" th:object="${memberInfoModifyRequestDto}" th:method="PUT">
                <!-- error -->
                <div th:if="${#fields.hasAnyErrors()}">
                    <div class="toast toast-top toast-end mt-20">
                        <div th:each="error : ${#fields.allErrors()}" class="alert alert-error mb-1">
                            <span th:text="${error}"></span>
                        </div>
                    </div>
                </div>
                <div class="mb-4">
                    <div class="flex justify-end">
                        <div id="toggleModify" class="btn btn-success btn-outline btn-xs w-auto"
                             onclick="toggleModify()">
                            수정하기
                        </div>
                    </div>
                    <h1 id="nickname" class="text-lg" th:text="${currentUser.nickname}"></h1>
                    <input id="nicknameInput" type="text" th:field="*{nickname}"
                           class="input input-bordered input-primary input-sm w-full max-w-xs hidden mt-2">
                    <h2 class="text-mg text-gray-400" th:text="${currentUser.username}"></h2>
                </div>
                <div class="mb-4">
                    <h1 class="text-lg">프로필 메시지</h1>
                    <h2 id="profileMsg" class="text-mg text-gray-400" th:text="${currentUser.profileMsg}"></h2>
                    <input id="profileMsgInput" type="text" th:field="*{profileMsg}"
                           class="input input-bordered input-primary input-sm w-full max-w-xs hidden">
                </div>
                <div id="submitModify" class="flex hidden">
                    <div id="cancelModify" class="btn btn-ghost btn-sm w-1/2" onclick="cancelModify()">수정취소</div>
                    <button class="btn btn-success btn-sm w-1/2">수정완료</button>
                </div>
            </form>

            <div class="divider">권한 관련</div>
            <div>
                <div class="mb-4">
                    <div class="flex items-center">
                        <h1 class="text-lg mr-2">MEDIUM PRIME</h1>
                        <a th:if="${currentUser.prime == true and currentUser.primeExpirationDate != null}"
                           class="btn btn-error btn-outline btn-xs" href="/prime">해지하기
                        </a>
                    </div>
                    <div th:if="${currentUser.prime == true and currentUser.primeExpirationDate != null}">
                        <div class="flex items-center">
                            <span class="text-md text-green-500 font-bold mr-2">이용중</span>
                            <div class="text-md text-gray-400">
                            <span class="countdown text-md">
                              <span id="days" style="--value:0;"></span>
                            </span>
                                일
                                <span class="countdown text-md">
                              <span id="hours" style="--value:0;"></span>
                            </span>
                                시간
                                <span class="countdown text-md">
                              <span id="minutes" style="--value:0;"></span>
                            </span>
                                분
                                남음
                            </div>
                        </div>
                    </div>
                    <div th:if="${currentUser.prime == false}">
                        <span class="text-lmdtext-gray-400 mr-2">미가입</span>
                        <a class="btn btn-warning btn-outline btn-xs" href="/prime">가입하기</a>
                    </div>
                </div>
                <div class="mb-4">
                    <h1 class="text-md mr-2">MEDIUM CASH</h1>
                    <h2 class="text-md text-gray-400">0원</h2>
                </div>
                <div>
                    <div class="flex">
                        <h1 class="text-md mr-2">연결 계좌정보</h1>
                        <a class="btn btn-success btn-xs" href="/prime">계좌 연동하기</a>
                    </div>
                    <h2 class="text-md text-gray-400">없음</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block layout:fragment="script">
    <script>
        function calculateTimeDifference() {
            var currentDate = new Date();
            var expirationDate = new Date("[[${currentUser.primeExpirationDate}]]");

            var timeDiff = expirationDate - currentDate;

            var days = Math.floor(timeDiff / (1000 * 60 * 60 * 24));
            var hours = Math.floor((timeDiff % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
            var minutes = Math.floor((timeDiff % (1000 * 60 * 60)) / (1000 * 60));

            updateCountdown(days, hours, minutes);
        }

        function updateCountdown(days, hours, minutes) {
            var daysElement = document.getElementById("days");
            daysElement.style.setProperty("--value", days);

            var hoursElement = document.getElementById("hours");
            hoursElement.style.setProperty("--value", hours);

            var minutesElement = document.getElementById("minutes");
            minutesElement.style.setProperty("--value", minutes);
        }

        calculateTimeDifference();

        function toggleModify() {
            // toggleModify 클릭 시, submitModify와 cancelModify의 hidden 속성 토글
            document.getElementById("submitModify").classList.toggle("hidden");
            document.getElementById("cancelModify").classList.toggle("hidden");

            // nickname과 profileMsg의 값을 각각의 Input 엘리먼트에 유지되도록 토글
            var nicknameElement = document.getElementById("nickname");
            var nicknameInputElement = document.getElementById("nicknameInput");
            nicknameElement.classList.toggle("hidden");
            nicknameInputElement.classList.toggle("hidden");

            var profileMsgElement = document.getElementById("profileMsg");
            var profileMsgInputElement = document.getElementById("profileMsgInput");
            profileMsgElement.classList.toggle("hidden");
            profileMsgInputElement.classList.toggle("hidden");

            // Input 엘리먼트의 값 유지
            if (!nicknameInputElement.classList.contains("hidden")) {
                nicknameInputElement.value = nicknameElement.innerText;
            }

            if (!profileMsgInputElement.classList.contains("hidden")) {
                profileMsgInputElement.value = profileMsgElement.innerText;
            }
        }

        function cancelModify() {
            // cancelModify 클릭 시, toggleModify 상태를 취소하고 hidden 속성을 다시 원래 상태로 돌려줌
            document.getElementById("submitModify").classList.add("hidden");

            document.getElementById("nickname").classList.remove("hidden");
            document.getElementById("nicknameInput").classList.add("hidden");

            document.getElementById("profileMsg").classList.remove("hidden");
            document.getElementById("profileMsgInput").classList.add("hidden");
        }
    </script>
</th:block>
</body>
</html>
