<html lang="ko" layout:decorate="~{global/layout}">
<head>
    <title>Medium-Mission</title>
</head>
<body>
<div layout:fragment="content">
    <!-- title continer -->
    <div class="w-full bg-white">
        <div class="py-24 px-20 pb-2 text-black font-bold">
            <div class="mb-6 text-5xl" th:text="${post.title}"></div>
            <div class="text-xl"></div>
            <div class="mb-6 text-gray-400">
                <div class="pt-1 mr-1 flex justify-items-center">
                    <div class="mr-2 pt-2 justify-self-center">
                        <svg xmlns="http://www.w3.org/2000/svg" height="36" width="36" viewBox="0 0 448 512">
                            <path d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0
                                    383.8 0 482.3C0 498.7 13.3 512 29.7 512H418.3c16.4 0 29.7-13.3 29.7-29.7C448 383.8
                                    368.2 304 269.7 304H178.3z"/>
                        </svg>
                    </div>
                    <div>
                        <div class="text-xl" th:text="${post.author.username}"></div>
                        <div class="flex text-base">
                            <div class="mr-1">0 min read</div>
                            <div class="mr-1">·</div>
                            <div th:text="${#temporals.format(post.createDate, 'yyyy.MM.dd')}"></div>
                        </div>
                    </div>
                    <div class="dropdown dropdown-right">
                        <div tabindex="0" role="button" class="btn btn-ghost m-1"><i class="fa-solid fa-ellipsis"></i>
                        </div>
                        <ul tabindex="0" class="dropdown-content z-[1] menu p-2 shadow bg-base-400 w-40">
                            <li><a>Update Post</a></li>
                            <li><a>Delete Post</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- content -->
    <div class="flex items-center w-full h-14 px-20 border-b-2 border-gray-400">
        <div class="mr-2">
            <svg xmlns="http://www.w3.org/2000/svg" height="16" width="16" viewBox="0 0 512 512">
                <!-- 추천 이모티콘 -->
                <path d="M336 16V80c0 8.8-7.2 16-16 16s-16-7.2-16-16V16c0-8.8 7.2-16 16-16s16 7.2 16 16zm-98.7 7.1l32
                    48c4.9 7.4 2.9 17.3-4.4 22.2s-17.3 2.9-22.2-4.4l-32-48c-4.9-7.4-2.9-17.3 4.4-22.2s17.3-2.9 22.2
                    4.4zM135 119c9.4-9.4 24.6-9.4 33.9 0L292.7 242.7c10.1 10.1 27.3 2.9 27.3-11.3V192c0-17.7 14.3-32
                    32-32s32 14.3 32 32V345.6c0 57.1-30 110-78.9 139.4c-64 38.4-145.8 28.3-198.5-24.4L7
                    361c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l53 53c6.1 6.1 16 6.1 22.1 0s6.1-16 0-22.1L23
                    265c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l93 93c6.1 6.1 16 6.1 22.1 0s6.1-16 0-22.1L55 185c-9.4-9.4-9.4-24.6
                    0-33.9s24.6-9.4 33.9 0l117 117c6.1 6.1 16 6.1 22.1 0s6.1-16 0-22.1l-93-93c-9.4-9.4-9.4-24.6 0-33.9zM433.1
                    484.9c-24.2 14.5-50.9 22.1-77.7 23.1c48.1-39.6 76.6-99 76.6-162.4l0-98.1c8.2-.1 16-6.4 16-16V192c0-17.7
                    14.3-32 32-32s32 14.3 32 32V345.6c0 57.1-30 110-78.9 139.4zM424.9 18.7c7.4 4.9 9.3 14.8 4.4 22.2l-32
                    48c-4.9 7.4-14.8 9.3-22.2 4.4s-9.3-14.8-4.4-22.2l32-48c4.9-7.4 14.8-9.3 22.2-4.4z"
                      fill="white"/>
            </svg>
        </div>
        <div class="mr-7">2K</div>
        <div class="mr-2">
            <!-- 댓글 이모티콘 -->
            <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512">
                <path d="M512 240c0 114.9-114.6 208-256 208c-37.1 0-72.3-6.4-104.1-17.9c-11.9 8.7-31.3 20.6-54.3
                    30.6C73.6 471.1 44.7 480 16 480c-6.5 0-12.3-3.9-14.8-9.9c-2.5-6-1.1-12.8 3.4-17.4l0 0 0 0 0 0 0
                    0 .3-.3c.3-.3 .7-.7 1.3-1.4c1.1-1.2 2.8-3.1 4.9-5.7c4.1-5 9.6-12.4 15.2-21.6c10-16.6 19.5-38.4
                    21.4-62.9C17.7 326.8 0 285.1 0 240C0 125.1 114.6 32 256 32s256 93.1 256 208z"
                      fill="white"/>
            </svg>
        </div>
        <div th:text="${post.commentList.size}"></div>
    </div>
    <div class="px-20 mt-10 pb-32 text-2xl border-b-2 border-gray-400" th:text="${post.content}"></div>

    <!-- comment -->
    <div class="px-20 border-b-2 border-gray-400 bg-gray-700">
        <ul th:each="comment : ${post.commentList}">
            <li class="py-2 text-xl">
                <div class="text-gray-400">
                    <div class="pt-1 mr-1 mb-2 flex justify-items-center">
                        <div class="mr-2 pt-2 justify-self-center">
                            <svg xmlns="http://www.w3.org/2000/svg" height="36" width="36" viewBox="0 0 448 512">
                                <path d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0
                                    383.8 0 482.3C0 498.7 13.3 512 29.7 512H418.3c16.4 0 29.7-13.3 29.7-29.7C448 383.8
                                    368.2 304 269.7 304H178.3z"
                                      fill="white"/>
                            </svg>
                        </div>
                        <div>
                            <div class="text-xl" th:text="${comment.author.username}"></div>
                            <div class="flex text-base">
                                <div th:text="${#temporals.format(comment.createDate, 'yyyy.MM.dd')}"></div>
                            </div>
                        </div>
                        <div class="dropdown dropdown-right">
                            <div tabindex="0" role="button" class="btn btn-ghost m-1"><i
                                    class="fa-solid fa-ellipsis"></i></div>
                            <ul tabindex="0" class="dropdown-content z-[1] menu p-2 shadow bg-base-400 w-44">
                                <li><a>Update Comment</a></li>
                                <li><a>Delete Comment</a></li>
                            </ul>
                        </div>
                    </div>
                    <div th:text="${comment.content}" class="mb-2"></div>
                    <div class="flex items-center w-full h-10 text-lg">
                        <div class="mr-2">
                            <svg xmlns="http://www.w3.org/2000/svg" height="16" width="16" viewBox="0 0 512 512">
                                <!-- 추천 이모티콘 -->
                                <path d="M336 16V80c0 8.8-7.2 16-16 16s-16-7.2-16-16V16c0-8.8 7.2-16 16-16s16 7.2 16 16zm-98.7 7.1l32
                    48c4.9 7.4 2.9 17.3-4.4 22.2s-17.3 2.9-22.2-4.4l-32-48c-4.9-7.4-2.9-17.3 4.4-22.2s17.3-2.9 22.2
                    4.4zM135 119c9.4-9.4 24.6-9.4 33.9 0L292.7 242.7c10.1 10.1 27.3 2.9 27.3-11.3V192c0-17.7 14.3-32
                    32-32s32 14.3 32 32V345.6c0 57.1-30 110-78.9 139.4c-64 38.4-145.8 28.3-198.5-24.4L7
                    361c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l53 53c6.1 6.1 16 6.1 22.1 0s6.1-16 0-22.1L23
                    265c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l93 93c6.1 6.1 16 6.1 22.1 0s6.1-16 0-22.1L55 185c-9.4-9.4-9.4-24.6
                    0-33.9s24.6-9.4 33.9 0l117 117c6.1 6.1 16 6.1 22.1 0s6.1-16 0-22.1l-93-93c-9.4-9.4-9.4-24.6 0-33.9zM433.1
                    484.9c-24.2 14.5-50.9 22.1-77.7 23.1c48.1-39.6 76.6-99 76.6-162.4l0-98.1c8.2-.1 16-6.4 16-16V192c0-17.7
                    14.3-32 32-32s32 14.3 32 32V345.6c0 57.1-30 110-78.9 139.4zM424.9 18.7c7.4 4.9 9.3 14.8 4.4 22.2l-32
                    48c-4.9 7.4-14.8 9.3-22.2 4.4s-9.3-14.8-4.4-22.2l32-48c4.9-7.4 14.8-9.3 22.2-4.4z"
                                      fill="white"/>
                            </svg>
                        </div>
                        <div class="mr-7">2K</div>
                        <div class="mr-2">
                            <!-- 댓글 이모티콘 -->
                            <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512">
                                <path d="M512 240c0 114.9-114.6 208-256 208c-37.1 0-72.3-6.4-104.1-17.9c-11.9 8.7-31.3 20.6-54.3
                    30.6C73.6 471.1 44.7 480 16 480c-6.5 0-12.3-3.9-14.8-9.9c-2.5-6-1.1-12.8 3.4-17.4l0 0 0 0 0 0 0
                    0 .3-.3c.3-.3 .7-.7 1.3-1.4c1.1-1.2 2.8-3.1 4.9-5.7c4.1-5 9.6-12.4 15.2-21.6c10-16.6 19.5-38.4
                    21.4-62.9C17.7 326.8 0 285.1 0 240C0 125.1 114.6 32 256 32s256 93.1 256 208z"
                                      fill="white"/>
                            </svg>
                        </div>
                        <div th:text="${post.commentList.size}"></div>
                    </div>
                </div>
            </li>
        </ul>
        <!-- comment form -->
        <label class="form-control">
            <div class="label">
                <span class="label-text">&nbsp;</span>
                <span class="label-text-alt" id="charCount">0 / 300</span>
            </div>
            <textarea class="textarea textarea-lg textarea-primary"
                      id="textInput"
                      maxlength="299" rows="6"
                      placeholder="What are your thoughts?"></textarea>
            <div class="label">
                <span class="flex justify-items-center">
                    <input type="checkbox" checked="checked" class="checkbox mr-2"/>
                    <span>Also publish to my profile</span>
                </span>
                <span class="label-text-alt">
                    <div class="btn btn-primary h-12">Respond</div>
                </span>
            </div>
        </label>
    </div>
</div>
<th:block layout:fragment="script">
    <script> // comment form 글자수 세기 script
        document.addEventListener("DOMContentLoaded", function () {
            const textarea = document.getElementById('textInput');
            const charCountSpan = document.getElementById('charCount');

            textarea.addEventListener('input', function () {
                const currentLength = textarea.value.length;
                const maxLength = 300;

                charCountSpan.textContent = `${currentLength} / ${maxLength}`;

                if (currentLength > maxLength) {
                    charCountSpan.classList.add('text-red-500');
                } else {
                    charCountSpan.classList.remove('text-red-500');
                }
            });
        });
    </script>
</th:block>
</body>
</html>