<html lang="ko" layout:decorate="~{global/layout}">
<head>
    <meta charset="UTF-8">
    <title>Medium</title>
</head>
<body>
<div layout:fragment="content">
    <div class="flex mx-20">
        <div class="mr-5">
            <div>
                <h1 class="my-16 pb-2 text-3xl text-yellow-500 font-bold" th:text="${currentUser.username}"></h1>
                <h2 class="mb-5 pb-3 text-xl text-white border-b border-gray-700">Posts</h2>
                <div>
                    <ul id="postList">
                        <li class="flex justify-center h-screen" th:if="${paging.isEmpty()}">
                            <div class="text-5xl">TUNG!</div>
                            <div class="flex">
                                <div class="w-48"></div>
                                <div class="w-48"></div>
                            </div>
                        </li>
                        <li class="my-2 flex" th:each="post, iterStat : ${paging.content}"
                            th:if="${iterStat.index < 10}">
                            <div class="flex-none w-96 h-44">
                                <div class="flex items-center mb-2">
                                    <div class="pt-1 mr-1">
                                        <i class="fa-solid fa-user fas fa-md" style="color: white;"></i>
                                    </div>
                                    <div th:text="${post.author.username}"></div>
                                </div>
                                <a th:href="@{|/post/${post.id}|}">
                                    <div class="mb-2 text-3xl line-clamp-2"
                                         th:text="${post.title}">
                                    </div>
                                    <div class="mb-1 text-gray-400 line-clamp-1"
                                         th:text="${post.content}">
                                    </div>
                                    <div class="flex text-xs text-gray-400">
                                        <div class="mr-1"
                                             th:text="${#temporals.format(post.createDate, 'yyyy.MM.dd')}"></div>
                                        <div class="mr-1">·</div>
                                        <div th:text="${post.viewCount + ' min read'}"></div>
                                    </div>
                                </a>
                            </div>
                            <a th:href="@{|/post/${post.id}|}">
                                <div th:if="${post.imageFile == null}"
                                     class="w-64 h-44 border border-gray-400 flex items-center justify-center">
                                    <h2 class="text-3xl text-gray-500">이미지 없음</h2>
                                </div>
                                <div th:unless="${post.imageFile == null}"
                                     class="flex-none w-64 h-44 border border-gray-400">
                                    <img class="w-full h-full object-cover"
                                         th:src="@{|/images/${post.imageFile.filename}|}"
                                         alt="Post Image">
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- 페이징처리 시작 -->
            <div class="flex justify-center mt-4" th:unless="${paging.isEmpty()}">
                <a th:classappend="${!paging.hasPrevious} ? 'opacity-50 pointer-events-none' : ''"
                   th:href="|?page=0|"
                   class="page-link join-item btn hover:text-blue-500"
                   th:text="first">
                </a>
                <a th:classappend="${!paging.hasPrevious} ? 'opacity-50 pointer-events-none' : ''"
                   th:href="|?page=${paging.number-1}|"
                   class="page-link join-item btn hover:text-blue-500"
                   th:text="prev">
                </a>
                <a th:each="page: ${#numbers.sequence(0, paging.totalPages-1)}"
                   th:if="${page >= paging.number-2 and page <= paging.number+2}"
                   th:classappend="${page == paging.number} ? 'opacity-50 pointer-events-none' : ''"
                   th:text="${page}"
                   th:href="|?page=${page}|"
                   class="page-link join-item btn hover:text-blue-500">
                </a>
                <a th:classappend="${!paging.hasNext} ? 'opacity-50 pointer-events-none' : ''"
                   th:href="|?page=${paging.number+1}|"
                   class="page-link join-item btn hover:text-blue-500"
                   th:text="next">
                </a>
                <a th:classappend="${!paging.hasNext} ? 'opacity-50 pointer-events-none' : ''"
                   th:href="|?page=${paging.totalPages-1}|"
                   class="page-link join-item btn hover:text-blue-500"
                   th:text="end">
                </a>
            </div>
            <!-- 페이징처리 끝 -->
        </div>
        <!-- user information -->
        <div class="pb-2 pl-6 border-l border-gray-700">
            <div class="my-20">
                <i class="p-7 mb-2 fa-solid fa-user fas fa-4x border rounded-3xl" style="color: white;"></i>
                <h1 class="mb-5 text-3xl text-yellow-500 font-bold" th:text="${username}"></h1>
                <h2 class="text-xl text-white">welcome to testuser1 post page.</h2>
            </div>
            <h2 class="mb-5 pb-3 text-xl text-white border-b border-gray-700">Trending</h2>
        </div>
    </div>
</div>
</body>
</html>